<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>

</head>

<body>

    <%- include('partials/navigation')%>

        <!--Main Content-->

        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="/img/bemocasual.png" alt="" class="w-50">
                <h1 class="display-1 my-5 text-uppercase fw-bold">bmo</h1>
                <a class="btn btn-dark w-25" href="/about">About</a>
            </div>

        </header>

        <%- include('partials/footer')%>

</body>

</html>